.env
**/.env
/data/
*.pem
*.key
node_modules/
vendor/
.idea/
.vscode/
dist/
build/
*.log
.phpunit.result.cache
.phpunit.cache
apps/api/storage/logs/*
!apps/api/storage/logs/.gitignore
apps/api/storage/framework/testing
apps/api/bootstrap/cache/*.php
!apps/api/bootstrap/cache/.gitignore
apps/web/dist

